# Archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Archivos de entorno virtual
.venv/
venv/
env/

# Archivos de configuración locales
*.env
*.log

# Archivos de Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de VSCode
.vscode/

# Archivos de dependencias locales
*.egg-info/
dist/
build/

# Archivos temporales
*.tmp
*.swp
